<section class="sct-color-1 slice">
<div class="container-fluid masonry-container">
<div class="row">
<div class="col-sm-2 col-sm-offset-1">
  <div class="row">
    <% if @user.errors.any? %>
      <%= @user.errors.count %> error<br>
      <%= @user.errors.full_messages.each do |message| %>
        <%= message %><br>
      <% end %>
    <% end %>
    <%= form_with model: @user do |f| %>
    <h1>UserInfo</h1>
      <div class="form-group has-icon">
        <label class="control-label sr-only" for="inputEmail">Name</label>
        <%= f.text_field :name, class:"form-control name", placeholder:"Name" %>
        <span class="fa fa-building form-control-icon" aria-hidden="true" ></span>
      </div>
      <div class="form-group has-icon">
        <div class="user-edit-image">
          <%= image_tag @user.get_profile_image(100,100) %>
        </div>
        <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
        <%= f.file_field :profile_image, class:"user_image", placeholder:"ProfileImage", class:"user-edit-form" %>
      </div>
      <div class="form-group has-icon">
        <label class="control-label sr-only">Introduction</label>
        <%= f.text_area :introduction, class:"form-control introduction", placeholder:"Your Introduction" %>
        <span class="fa fa-building form-control-icon" aria-hidden="true" ></span>
      </div>
      <%= f.submit "Update User", class:"btn btn-default btn-block btn-base-1 mt-20" %>
    <% end %>
  </div>
</div>
</div>
</div>
</section>